.footer {
    background-color: #000000;
    
    .footer-bg {
        display: block;
        position: relative;
        width: 100%;
        padding-bottom: 640px;

        .footer-img {
            background-image: url('../../../Assets/images/footer-bg.jpg');
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        .footer-overlay {
            background-color: #000000;
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0.4;
        }
    }

    @media only screen and (max-width: 576px) {
        .footer-info-blocks {
            text-align: center;
        }
    }
}