.page-link-college {
  .link-container {
    .card {
      width: calc(100% / 3 - 0.25rem * 2);
      transition: all 0.3s;

      .card-body {
        padding: 0.75rem;

        img {
          width: 90px;
          height: 90px;
        }
      }

      &:hover {
        background-color: rgb(73, 134, 198);
        color: #ffffff !important;
        border-color: rgb(48, 48, 48);
      }
    }
  }
}
