.gallery-top {
  width: 100%;
  height: 500px;
  margin-left: auto;
  margin-right: auto;

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }
}

.gallery-thumbs {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
  cursor: pointer;

  .swiper-slide {
    height: 100%;
    opacity: 0.4;
    background-size: cover;
    background-position: center;
  }

  .swiper-slide-thumb-active {
    opacity: 1;
  }
}

.page-annoucements {
    img {
        width: 75px;
        height: 75px;
    }
}
