#addRecord {
  .modal-dialog {
    max-width: 1024px;

    #msform {
      text-align: center;
      position: relative;
      margin-top: 20px;

      fieldset {
        .form-card {
          background: white;
          border: 0 none;
          border-radius: 0px;
          box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
          padding: 20px 30px 30px 30px;
          box-sizing: border-box;
          width: 100%;
          position: relative;
        }

        background: white;
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        position: relative;

        &:not(:first-of-type) {
          display: none;
        }

        .form-card {
          text-align: left;
          color: #9e9e9e;
        }
      }

      .action-button {
        width: 150px;
        background: rgb(93, 183, 122);
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0.25rem;
        cursor: pointer;
        padding: 10px;
        margin: 10px 5px;
        transition: all 0.3s;

        &:hover,
        &:focus {
          box-shadow: 0 0 0 2px white, 0 0 0 3px rgb(93, 183, 122);
        }
      }

      .action-button-previous {
        width: 150px;
        background: rgb(48, 48, 48);
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 0.25rem;
        cursor: pointer;
        padding: 10px;
        margin: 10px 5px;
        transition: all 0.3s;

        &:hover,
        &:focus {
          box-shadow: 0 0 0 2px white, 0 0 0 3px #616161;
        }
      }
    }

    select.list-dt {
      border: none;
      outline: 0;
      border-bottom: 1px solid #ccc;
      padding: 2px 5px 3px 5px;
      margin: 2px;

      &:focus {
        border-bottom: 2px solid rgb(93, 183, 122);
      }
    }

    .card {
      z-index: 0;
      border: none;
      border-radius: 0.5rem;
      position: relative;
    }

    .fs-title {
      font-size: 25px;
      color: #2c3e50;
      margin-bottom: 10px;
      font-weight: bold;
      text-align: left;
    }

    #progressbar {
      margin-bottom: 30px;
      overflow: hidden;
      color: lightgrey;

      .active {
        color: #000000;
      }

      li {
        list-style-type: none;
        font-size: 12px;
        width: calc(100% / 5);
        float: left;
        position: relative;
      }

      #step1:before {
        font-family: FontAwesome;
        content: "\f013";
      }

      #step2:before {
        font-family: FontAwesome;
        content: "\f155";
      }

      #step3:before {
        font-family: FontAwesome;
        content: "\f03a";
      }

      #step4:before {
        font-family: FontAwesome;
        content: "\f275";
      }

      #step5:before {
        font-family: FontAwesome;
        content: "\f03e";
      }

      li {
        &:before {
          width: 50px;
          height: 50px;
          line-height: 45px;
          display: block;
          font-size: 18px;
          color: #ffffff;
          background: lightgray;
          border-radius: 50%;
          margin: 0 auto 10px auto;
          padding: 2px;
        }

        &:after {
          content: "";
          width: 100%;
          height: 2px;
          background: lightgray;
          position: absolute;
          left: 0;
          top: 25px;
          z-index: -1;
        }

        &.active {
          &:before,
          &:after {
            background: rgb(93, 183, 122);
          }
        }
      }
    }

    .radio-group {
      position: relative;
      margin-bottom: 25px;
    }

    .fit-image {
      width: 100%;
      object-fit: cover;
    }
  }
}

// PRICES TABLE
#prices_table {
  td {
    vertical-align: middle !important;
  }

  .error {
		border-color: #f50000;
	}
}

// COMPONENTS TABLE
.table-container {
  width: 100%;
	overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar-thumb {
    width: 2px;
  }

  &::-webkit-scrollbar-track {
    width: 2px;
  }

  #components_table {
    width: 1024px;

    .error {
      border-color: #f50000;
    }
  }
}