.locations-slider {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 892px;
    height: 500px;
  }
}
