.toast {
  position: fixed;
  display: block !important;
  transform: translateX(999px);
  z-index: 9999;
  transition: all 0.3s !important;

  &.show {
    right: 30px;
    top: 75px;
    transform: initial;
  }

  &.hide {
    right: 30px;
    top: 75px;
    transform: translateX(999px);
  }
}