@import './Compo/Compo.scss';
@import './Contact_Infor/Contact.scss';
@import './Season/Season.scss';

/*#region basic*/

.modal-footer{
    display: block !important;
}

.hide {
    display: none;
}

.show {
    display: block;
}

/*#endregion */
   
    