.page-nav {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 3;

  .nav-item {
    .nav-link {
      color: #efefef;

      &.active {
        color: #ffffff;
      }

      &:hover {
        color: #ffffff;
      }
    }
  }
}