.page-header {
  position: relative;
  height: 40vh;
  min-height: 40vh;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  border: 0;
  display: flex;
  align-items: center;
  background-attachment: fixed;

  &::before,
  &::after {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
  }

  &::before {
    background: rgba(0, 0, 0, 0.5);
  }

  .container {
    z-index: 2;
    position: relative;
  }
}

#menu-toggle {
  z-index: 6;
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
}
