.report-settings {
    margin-top: -5rem;

    &.show-report {
        top: 50%;
        transform: translateY(-50%);

        > .container {
            margin-left: auto;
            margin-right: -15px;
        }

        .report-filter {
            .card {
                display: none;
            }
        }

        .report-specs {
            transform: translateX(-75px);

            @media only screen and (max-width: 576px) {
                transform: translate(-15px, 75px);
            }

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                top: 72px;
                width: 10px;
                transform: translateY(-50%);
                border-bottom: 16px solid transparent;
                border-left: 16px solid rgba(0,0,0, 1);
                border-top: 16px solid transparent;
                right: 3px;
            }

            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                top: 72px;
                width: 10px;
                transform: translateY(-50%);
                border-bottom: 16px solid transparent;
                border-left: 16px solid #fff;
                border-top: 16px solid transparent;
                right: 3px;
            }
        }
    }

    .btn-config {
        position: fixed;
        cursor: pointer;
        top: 10%;
        right: 0;
        width: 64px;
        background: rgba(0, 0, 0, .3);
        z-index: 1031;
        border-radius: 8px 0 0 8px;
        text-align: center;

        i {
            color: #fff;
            padding: 10px;
            border-radius: 0 0 6px 6px;
            width: auto;
            font-size: 2rem;
        }

        @media only screen and (max-width: 768px) {
            top: 14.5%;
        }

        @media only screen and (max-width: 576px) {
            top: 15px;
        }
    }

    .btn-export-pdf {
        &.isDisabled {
            cursor: not-allowed;
            pointer-events: none;
        }
    }
}