.sidebar {
  &:before {
    display: block;
    content: "";
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &:after {
    display: block;
    content: "";
    background-color: #303030;
    opacity: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 3;
  }

  .sidebar-container {
    position: relative;
    padding: 1.5rem 0.75rem;
    z-index: 4;

    .logo {
      text-align: center;

      img {
        width: 65%;
      }
    }

    .search-group {
      .input-group-text {
        background-color: transparent;
        border-right-width: 0;

        .fa {
          color: #ffffff;
        }
      }

      input {
        background-color: transparent;
        color: #ffffff;
        border-left-width: 0;
        padding-left: initial;

        &::placeholder {
          color: #ffffff;
        }
      }
    }

    > .nav {
      overflow-y: scroll;

      &::-webkit-scrollbar-track {
        display: none;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &::-webkit-scrollbar-thumb {
        display: none;
      }

      .nav-item {
        .nav-link {
          margin-top: 10px;
          border-radius: 5px;
          color: #fff;
          display: flex;
          text-decoration: none;
          position: relative;
          text-transform: uppercase;
          cursor: pointer;
          font-size: 0.8rem;
          padding: 10px 30px;
          line-height: 1.625rem;
          transition: all 0.3s ease 0s;
          align-items: center;

          .fa {
            transition: all 0.3s ease 0s;
            font-size: 20px;
          }

          &:hover {
            background-color: hsla(0, 0%, 100%, 0.1);
          }

          &.active {
            background-color: hsla(0, 0%, 100%, 0.1);
          }

          .caret {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 2px;
            vertical-align: middle;
            border-top: 4px dashed;
            border-top: 4px solid;
            border-right: 4px solid transparent;
            border-left: 4px solid transparent;
            transition: all 0.15s ease 0s;
            top: 50%;
            position: absolute;
            right: 30px;
            transform: translateY(-50%);
            transition: all 0.15s ease 0s;
          }

          .badge {
            padding: 0.25em 0.5em;
            font-size: 0.8rem;
            border-radius: 100%;
            font-weight: 300;
          }
        }

        .sub-nav {
          transition: all 0.3s ease 0s;
          opacity: 0;
          height: 0;

          .sub-nav-item {
            width: 100%;

            .sub-nav-link {
              margin: 5px 15px 0 10px;
              border-radius: 30px;
              color: #fff;
              display: block;
              text-decoration: none;
              position: relative;
              text-transform: uppercase;
              cursor: pointer;
              font-size: 0.64rem;
              padding: 10px 20px;
              line-height: 1.625rem;

              transition: all 0.3s ease 0s;

              &:hover {
                background-color: hsla(0, 0%, 100%, 0.1);
              }

              .badge {
                padding: 0.25em 0.5em;
                font-size: 0.75rem;
                border-radius: 100%;
                font-weight: 300;
              }
            }
          }
        }

        &.expanded {
          position: relative;
          z-index: 2;

          .nav-link {
            .caret {
              transform: rotate(180deg);
            }
          }

          .sub-nav {
            transition: all 0.3s ease 0s;
            opacity: 1;
            position: relative;
            z-index: 3;
          }
        }
      }
    }
  }
}
