.page-calendar {
  .row {
    position: relative;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    padding-top: 6.5rem;
    padding-bottom: 6.5rem;
    background-size: contain;
    background-attachment: fixed;

    @media (max-width: 991.98px) {
      padding: 5rem 15px;
    }

    @media (max-width: 575.98px) {
      padding: 3rem 15px;
    }

    &::before,
    &::after {
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
    }

    &::before {
      background: rgba(0, 0, 0, 0.5);
    }
  }

  .calendar-container {
    background: #fff;
    position: relative;
    z-index: 3;
    border-radius: 6px;
    padding: 30px;
    -webkit-box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

    @media (max-width: 991.98px) {
      padding: 15px;
    }
  }
}
