/********
* LIBS  *
********/
@import "~@fullcalendar/core/main.css";
@import "~@fullcalendar/daygrid/main.css";
@import "~swiper/css/swiper.min.css";

/*************
* COMPONENTS *
**************/
@import "./Components/Sidebar/Sidebar.module";

@import "./Components/CustomerCataloge/Headline/Headline.module";
@import "./Components/CustomerCataloge/Footer/Footer.module";
@import "./Components/CustomerCataloge/Report_settings/Report_setting.module";
@import "./Components/CustomerCataloge/Report/Report.module";
@import "./Components/List_Data/ListDataTable.scss";

@import "./Components/Sidebar/Sidebar.module";
@import "./Components/PageHeader/PageHeader.module";
@import "./Components/PageFooter/PageFooter.module";
@import "./Components/PageNav/PageNav.module";

@import "./Pages/Kaizen/Kaizen.module";
@import "./Components/Toast/Toast";

/*************
* GROUP PAGE *
*************/
@import "./Components/GroupPage/News/News.module";
@import "./Components/GroupPage/Locations/Locations.module";
@import "./Components/GroupPage/Events/Events.module";
@import "./Components/GroupPage/Links/Links.module";
@import "./Components/GroupPage/Calendar/Calendar.module";

/**************
* MASTER PAGE *
***************/
@import "./Components/Masterpage/AddRecord/AddRecord.module";

body {
  font-family: "Montserrat", sans-serif !important;
}

// OVERRIDE BOOTSTRAP 4
.container {
  @media (min-width: 1200px) {
    max-width: 1300px !important;
  }
}

canvas {
  border: 1px solid red;
}

// SCROLLBAR
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.7);
}

// APP LAYOUT
.wrapper {
  position: relative;
  top: 0;
  height: 100vh;

  .sidebar {
    background-color: #191919;
    height: 100%;
    max-height: 100%;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    width: 260px;
    background: #ffffff;
    box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
      0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
  }

  .main {
    height: 100%;
    max-height: 100%;
    transition-property: top, bottom, width;
    transition-timing-function: linear, linear, ease;
    position: relative;
    float: right;
    width: calc(100% - 260px);
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  }

  @media (max-width: 991.98px) {
    .main {
      width: 100%;
      transform: translate3d(0, 0, 0);
    }

    .sidebar {
      transform: translateX(-260px);
    }
  }

  &.toggled {
    .sidebar {
      width: 65px;

      &:hover {
        width: 260px;

        .logo,
        .search-group {
          opacity: 1;
          position: relative;
        }

        .main-nav {
          .nav-item {
            .nav-link {
              padding: 10px 30px;

              &.active {
                background-color: rgba(255, 255, 255, 0.1);
              }

              .fa {
                font-size: initial;
                padding: initial;
              }

              p {
                position: relative;
                opacity: 1;
              }
            }
          }
        }
      }

      .logo,
      .search-group {
        opacity: 0;
        position: absolute;
      }

      .main-nav {
        .nav-item {
          .nav-link {
            padding: 0;

            &.active {
              background-color: transparent;

              .fa {
                background-color: rgba(255, 255, 255, 0.1);
                border-radius: 5px;
              }
            }

            .fa {
              font-size: 20px;
              padding: 10px;
            }

            p {
              position: absolute;
              opacity: 0;
            }
          }
        }
      }
    }

    .main {
      width: calc(100% - 65px);
      transform: translate3d(0, 0, 0);
    }

    @media (max-width: 991.98px) {
      .sidebar {
        transform: translateX(0);
      }

      .main {
        width: 100%;
        transform: translate3d(260px, 0, 0);
      }
    }
  }

  .page-content {
    background: #fff;
    position: relative;
    z-index: 3;
    margin: -60px 30px 0;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14),
      0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);

    @media (max-width: 991.98px) {
      margin: -60px 15px 0;
    }
  }
}