.headline {
    display: block;
    position: relative;
    width: 100%;
    padding-bottom: 480px;

    .headline-bg {
        background-image: url('../../../Assets/images/headline-bg.jpg');
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .headline-logo {
        background-image: url('../../../Assets/images/logo.png');
        display: block;
        position: absolute;
        z-index: 3;
        width: 100%;
        height: 100%;
        background-size: 15%;
        background-repeat: no-repeat;
        background-position: center;

        @media only screen and (max-width: 768px) {
            background-size: 45%;
        }
    }

    .headline-overlay {
        background-color: #000000;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0.5;
    }

    .headline-cover {
        display: none;
    }

    &.show-report {
        padding-bottom: 1024px;

        @media only screen and (max-width: 576px) {
            padding-bottom: 360px;
        }

        .headline-logo {
            visibility: hidden;
        }

        .headline-cover {
            background-color: #ffffff;
            display: block;
            position: absolute;
            width: 40%;
            height: 100%;
            left: 60%;
            transform: translateX(-50%);
            z-index: 2;

            &::before {
                content: "";
                display: inline-block;
                position: absolute;
                background: #ffffff;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 0;
                left: -145px;
                transform: SKEWX(15deg);
            }

            &::after {
                content: "";
                display: inline-block;
                position: absolute;
                background: #ffffff;
                z-index: -1;
                width: 100%;
                height: 100%;
                top: 0;
                right: -145px;
                transform: SKEWx(15DEG);
            }

            .headline-cover-content {
                position: absolute;
                width: 100%;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);

                img {
                    width: 45%;
                }
            }

            .headline-cover-location {
                position: absolute;
                bottom: 15px;
                right: -100px;
            }

            @media only screen and (max-width: 768px) {
                left: 50%;
            }

            @media only screen and (max-width: 576px) {
                width: 60%;

                &::before {
                    left: -50px;
                    transform: SKEWx(10DEG);
                }
    
                &::after {
                    right: -50px;
                    transform: SKEWx(10DEG);
                }

                .headline-cover-content {
                    img {
                        width: 90%;
                    }
                }

                .headline-cover-location {
                    right: -50px;
                }
            }
        }
    }
}