.report {
    .table td,
    .table th {
        padding: .15rem .75rem;
        font-size: 1.25rem;
    }
    
    .table td {
        background: rgba(0,0,0,.075);
    }

    .table {
        .report-empty-row td {
            background: rgba(255,255,255, 1);
        }
    }

    .item-img-block {
        position: relative;
        width: 100%;
        padding-bottom: 100%;
        
        .item-img {
            position: absolute;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
}